<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Box Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!--stylesheet-->
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Game - Guessing Game</title>
</head>

<body>
  <main>
    <div class="container">
        <ul class= "head">
          <i class="bx bxs-user" id="username"> <br>Username <br> 0</i>
          <i class="bx bxs-sun" id="stage"><br>Stage <br> 0</i>
          <i class="bx bxs-bullseye" id="points"><br>Points <br> 0 </i>
        </ul>
    <div class="game-section">
          <h3 class="game-section-text">I have picked a number between 1 - 2</h3>
          <h2>Try guessing this number:</h2>
    <div class="input-data-side">
          <input type="text" name="" id="gussed-number">
          <br>
          <button type="button" class="btn" > Guess </button>
    </div>
    <div class="status-side">
          <p>Number of Guess:</p><span> </span>
          <p>Guessed Number: None</p> <span> </span>
    </div>
    </div>
  </div>
  </main>
  
  <footer>
    <p>Nwaoghor Praise for I4gxZuri @2022</p>
  </footer>

<!--script-->
<script src="/assets/scripts/index.js"></script>
</body>
</html>
