<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Box Icon -->
  <link rel="shortcut icon" href="/assets/images/logo-img.png" type="image/x-icon">
  <!--stylesheet-->
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Home - Guessing Game</title>
</head>

<body>
  <main>
    <ul>
      <i>username</i>
      <i>Level</i>
      <i>Points</i>
    </ul>
    
    <div class="game-section">
      <h3>I have picked a number between 1 - 2</h3>
      <h2>Try guess this number:</h2>
    <div class="input-data-side">
      <input type="text" name="" id="gussed-number">
      <input type="button" class="btn" value="Guess">
    </div>
    <div class="status-side">
      <p>Number of Guess:</p><span> </span>
      <p>Guessed Number: None</p> <span> </span>
    </div>
    </div>
  </main>
  
  <footer>
    <p>Nwaoghor Praise for I4gxZuri @2022</p>
  </footer>

<!--script-->
<script src="/assets/scripts/index.js"></script>
</body>
</html>