<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Box Icon -->
  <link rel="shortcut icon" href="/assets/images/logo-img.png" type="image/x-icon">
  <!--stylesheet-->
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Home - Guessing Game</title>
</head>

<body>
  
  <footer>
    <p>Nwaoghor Praise for I4gxZuri @2022</p>
  </footer>

<!--script-->
<script src="/assets/scripts/index.js"></script>
</body>
</html>