/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

/* Page Set up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white-color: #fff;
    --black-color: rgb(1, 1, 1);
    --yellow-color: rgb(242, 247, 93);
    --blue-color: rgb(26, 90, 201);
}

.html {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    background: var(--white-color);
}

.container{
    background-color: var(--white-color);

}

.image-side{


}

.username-side{


}

footer {


}


.game-section {


}

.input-data-side{


}

.status-side{


}

.btn {
    color: var(--white-color);
    background: var(--blue-color);
}