/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

/* Page Set up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white-color: #fff;
    --black-color: rgb(1, 1, 1);
    --yellow-color: #feba05;
    --blue-color: #4e15c4 ;
}

.html {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    background: var(--white-color);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    position: relative; 
}

.welcome-img {
margin: 0;
padding: 0;
height: 25rem;
}

.image-side{
margin: 0;
padding: 0;
text-align: center;
}

.image-side h3 {
font-size: 1.3rem;
font-weight: 700;
color: var(--blue-color);
}

.image-side p{
color: var(--black-color);
font-weight: 500;
font-size: 1.1rem;
}

input {
    font: inherit;
    margin-top: 0.5rem;
    padding: 0.1em 0.4em;
    box-shadow: 1px 1px 1px 2px var(--blue-color);
    border-radius: 40%;
    border: none;
}

.btn {
    color: var(--white-color);
    background: var(--blue-color);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-top: 0.9rem;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px var(--blue-color);
}

footer {
margin-top: 5rem;
text-align: center;
font-size: 1.2rem;
font-weight: 600;
background: var(--blue-color);
/* padding: 2rem; */
height: 150px;


}


.game-section {


}

.input-data-side{


}

.status-side{


}

.btn {
    color: var(--white-color);
    background: var(--blue-color);
}