@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black-color: #ddd;
    --white-color: #fff;
    --green-color: #fff;
}

.html {
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
}

